.quickBtn {
    position: relative;
    display: block;
    width: 95%;
    min-height: 2em;

    margin: 0.25em;
    font-size: 2em;
    font-weight: bold;
    border-radius: 0.25em;
    background-color: inherit;
    border-color: var(--panel-contrast-color);
    color: var(--panel-active-color);
    cursor: pointer;
}



.nick-btn {
    padding: 0 1em;
    &.isMuted {
        color: var(--app-idle-color);
        border-color: var(--app-idle-color);
    }
}
.nick-select--option {
    background-color: #000000;
    color: var(--panel-contrast-color);
    &.no_nick {
        color: var(--app-idle-color);
        font-weight: bold;
    }
    &.new_nick {
        color: yellow;
        font-weight: bold;
        font-style: italic;
    }
}



.incBtn {
    position: relative;
    width: 1.5em;
    font-size: 1.75rem;
    font-weight: bold;
    border-radius: 0.25em;
    background-color: inherit;
    border-color: inherit;
    color: inherit;
    cursor: pointer;

    &.INC {
        border-left: none;
    }
    &.DEC {
        border-right: none;
    }
}

.incButtonBlock {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    min-width: 3.75em;
    font-weight: bold;
    font-size: 2rem;
}