:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  /* font-size: 16px;
  font-weight: 400; */


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
    --timer-idle-color: gray;
    --timer-running-color: #2a50db;
    --blink-duration: 1s;
    --body-background-color: #070707;
    --panel-prime-color: #3851ff;
    --panel-contrast-color: #00a0fd;


    background-color: var(--body-background-color);
    user-select: none;

    &.alarmSoft {
        animation: blinkingBackground-rnb var(--blink-duration) infinite;
    }
    &.alarmHard {
        animation: blinkingBackground-hard var(--blink-duration) infinite;
    }
}

@keyframes blinkingBackground-rnb {
    0%  { background-color: #ff0000; }
    13% { background-color: #ff0000; }
    14% { background-color: #ff3c00; }
    27% { background-color: #ff3c00; }
    28% { background-color: #fffb00; }
    41% { background-color: #fffb00; }
    42% { background-color: #51ff00; }
    65% { background-color: #51ff00; }
    66% { background-color: #00f7ff; }
    79% { background-color: #00f7ff; }
    80% { background-color: #1100ff; }
    93% { background-color: #1100ff; }
    94% { background-color: #8400ff; }
    100%{ background-color: #8400ff; }
}
@keyframes blinkingBackground-hard {
    0%	 { background-color: #f5ff11;}
    25%	 { background-color: #f5ff11;}
    50%  { background-color: #000000;}
    100% { background-color: #000000;}
}


/* #focusWarning {
    position: fixed;
    bottom: 0;
    left: 0;
    width: fit-content;
    margin: 0;
    width: 100%;
    text-align: center;
    font-size: 7em;
    font-weight: bold;
    color: #ffffff6e;
    background-color: rgba(255, 0, 0, 0.423)
}
.focusWarning span {
    display: inline-block;
} */


#AppTimer.split-ver2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1260px;
    height: 1000px;
    /* border: solid blue 1px; */
}

.split-ver2 #leftBlock {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 39em;
    height: 95vh;
}
.split-ver2 #rightBlock {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 40em;
    height: 95vh;
}
