#AppTimer {
    --displayPanel-clockBlock-scale: 4.25;
}

.displayPanel .clockBlockWrapper {
    display: inline-flex;
    justify-content: center;
    margin: 0;

    position: absolute;
    top: 2em;
    left: 2em;
    transform: scale(var(--displayPanel-clockBlock-scale));
    /* scale: var(--displayPanel-clockBlock-scale); */
    transform-origin: 0 0;
}

.displayPanel #message-bottom {
    top: 10rem;
}

.displayPanel .msg-alert1 #message-bottom {
    top: 9rem;
    font-size: 4rem;
    color: red;
    animation: alert1 1s infinite;
}

.displayPanel .msg-alert2 #message-bottom {
    top: -0.5rem;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: calc(96vw / var(--displayPanel-clockBlock-scale));
    height: calc(97vh / var(--displayPanel-clockBlock-scale));

    font-size: 2rem;
    z-index: 1;
    animation: displayPanel_alert2 2s infinite;
}
@keyframes displayPanel_alert2 {
    5%	 { color: #880000;
           background-color: rgba(242, 255, 0, 1);}
    10%  { background-color: #000000;}
    15%	 { background-color: rgba(242, 255, 0, 1);}
    20%  { background-color: #000000c5;}
    25%	 { background-color: rgba(242, 255, 0, 1);}
    40%	 { background-color: rgba(242, 255, 0, 0.95);}

    70%  { color: rgb(204, 0, 0);
           background-color: rgba(242, 255, 0, 0.8);}
    85% { background-color: rgba(242, 255, 0, 0.8);}
    100% { background-color: rgba(242, 255, 0, 0.6);}
}



.displayPanel #message-top {
    top: 1em;
    font-size: 2rem;
}
