:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  box-sizing: border-box;
  overflow: hidden;
}

body {
    --app-idle-color: gray;
    --body-background-color: #070707;
    --panel-active-color: rgb(0, 255, 0);
    --panel-prime-color: #4b8cfd;
    margin: 0;
    box-sizing: border-box;
    /* --panel-prime-color: #00a0fd; */
}

#BackBase {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.5rem;
    box-sizing: border-box;
    padding: 1rem;
    border-radius: 1rem;
}

#appHeader {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 21rem;
    padding: 0.25em 0.5em;
    font-size: 1.5rem;
    border-radius: 1rem;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border: outset 2px #9e9e9eb3;
    border-bottom: none;
    box-shadow: 5px 5px 5px 5px #00000057;
    color: white;
    background-color: #4000ffcf;
    cursor: move;

    #appHeaderMinimizeBtn {
        width: 3rem;
        height: 1.75rem;
        text-align: right;
        background-color: inherit;
        color: inherit;
        outline: none;
        border: none;
        line-height: 0;
        font-size: 1.5rem;
        font-weight: bold;
        cursor: pointer;
    }

    * {
        -webkit-user-select: none;
        -moz-user-select: none;
         user-select: none;
    }

    span {
        color: #f0ffffd9;
        /* font-style: italic; */
    }
}

#AppMainPanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 21rem;
    height: 30rem;
    padding: 0.5rem;
    background-color: var(--body-background-color);
    border-radius: 1rem;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border: outset 2px #9e9e9eb3;
    border-top: none;
    box-shadow: 5px 5px 5px 5px #00000057;
    /* cursor: default; */
}




.mainPanel-controlsWrapper {
    display: flex;
    height: 29rem;
    /* width: 20rem; */
    background-color: inherit;
    flex-direction: column;
    justify-content: space-between;

    * {
        -webkit-user-select: none;
        -moz-user-select: none;
         user-select: none;
    }
    
}

.mainBtnBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.75rem;
    width: 20em;
    padding-bottom: 3rem;
}



#time_freefall_settings {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 0.25em;
    font-size: 1.75rem;
    color : var(--panel-prime-color);
    button {
        font-size: 1.5rem;
        border-color: var(--panel-prime-color);
    }
}


#nick-select {
    font-size: 1.75rem;
}

.nick-btn.quickBtn {
    padding: 0 1em;
    color: var(--panel-active-color);
    border-color: var(--panel-active-color);
    &.isMuted {
        color: var(--app-idle-color);
        border-color: var(--app-idle-color);
    }

    &select {
        -webkit-appearance: none;
        appearance: none;
    }
}
.nick-select--option {
    background-color: #000000;
    color: var(--panel-prime-color);
    font-size: 1.25rem;

    &.no_nick {
        color: var(--app-idle-color);
        font-weight: bold;
        font-size: 1.5rem;
    }
    &.new_nick {
        color: yellow;
        font-weight: bold;
        font-style: italic;
        font-size: 1.5rem;
    }
}


#nickSelectForm {
    display: flex;
    #nick {
        font-size: 1rem;
        width: 100%;
    }
}



#flightNumberBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;

    box-sizing: border-box;
    padding: 0 0.5em;
    width: 100%;
    /* font-size: 2rem; */
    color: var(--panel-active-color);
    border-color: var(--panel-active-color);

    &.isMuted {
        color: var(--app-idle-color);
        border-color: var(--app-idle-color);
    }

    .quickBtn {
        margin: 0;
        width: 5.5em;
        border-right: none;
        color: inherit;
        border-color: inherit;
    }
}



.selectFilesBtn.quickBtn {
    color: var(--panel-prime-color);
    border-color: var(--panel-prime-color);
}

