

/* body.modal-open {
    overflow: hidden;
} */


.modal-container {
    width: 75%;
    border-radius: 8px;
    border: 1px solid #888;
    cursor: default;

    &::backdrop {
        /* background: rgba(0, 0, 0, 0.3); */
        /* inset: 1rem; */
        /* padding: 1rem; */
        /* height: 95vh; */
        backdrop-filter: blur(3px);
    }
}

.modal-buttons {
    display: flex;
    padding-top: 1rem;
    gap: 1em;
    justify-content: flex-end;
}

.modal-btn {
    font-size: 1rem;
    border-color: beige;
    border-radius: 3px;
}